PLOTS/*.png
SCORES/*.csv
SCR/__pycache__/*
SCR/nohup.out
SCR/subdomain_scale_factors.p
TMP/*
TMP/*/*
SCR/test_web/__pycache__/*
DATA/*
SCR/*.pyc
SCR/*.asc
SCR/diagnostics/*
SCR/*.ipynb
*.pyc
*.grb
*.bak
*.ipynb
LOG/*.log
OBS_archive/*
*.png
*.nc
*.grib
*.grib2
*.grb2
*.log
*.txt
SCR/claef.sh
SCR/claef1k_vs_arome.sh
SCR/deode.py
SCR/hindcast.py
SCR/hindcast.sh
SCR/hyena.py
SCR/period_analysis.py
SCR/samos.py
SCR/send.py
SCR/verif_panels.html
panelification_web_withbuilds.yml
panelification_web.yml
SCORES/tmp
*.tar
*.gz
*.zip
*.info
*/*.png
*/*.ipynb
*/*/*.ipynb
*.grb
DATA/*.p
*.nc
*.grib
*.grib2
*.grb2
*.gz
*.tar
*.png
OBS_archive/*
TMP/*
*.pyc
*.asc
*.zip
*.bak
*.swp
*.log
nohup.out
SCR/claef.sh
SCR/claef1k_vs_arome.sh
SCR/deode.py
SCR/hindcast.py
SCR/hindcast.sh
SCR/hyena.py
SCR/period_analysis.py
SCR/send.py
SCR/subdomain_scale_factors.p
MODEL/filter_gdas_0p25.pl?dir=%2Fgdas.20241014%2F00%2Fatmos
MODEL/filter_gdas_0p25.pl?dir=%2Fgdas.20241014%2F00%2Fatmos&file=gdas.t00z.pgrb2.0p25.f000&all_var=on&lev_surface=on&subregion=&toplat=60&leftlon=10&rightlon=30&bottomlat=30
MODEL/filter_gdas_0p25.pl?dir=%2Fgdas.20241014%2F00%2Fatmos&file=gdas.t00z.pgrb2.0p25.f000&all_var=on&lev_surface=on&subregion=&toplat=60&leftlon=10&rightlon=30&bottomlat=30.1
MODEL/wget-log
MODEL/CLAEF_CONTROL/imumlist.txt
MODEL/CLAEF_CONTROL/2023062100/CLAEF_00_2023062100+18.grb.info
MODEL/ecmwf/0
SCORES/d2esr@db.d2esr.online
SCORES/tmp
SCR/diagnostics/.ipynb_checkpoints/*
*.ipynb

panelification_web_withbuilds.yml
panelification_web.yml
SCR/verif_panels.html
SCR/diagnostics/deode_grib_minimum_example.py
SCR/samos.py
