*.asc
*.bak
*.grb
*.grb2
*.grib
*.grib2
*.gz
*.info
*.ipynb
*.log
*.nc
*.png
*.pyc
*.swp
*.tar
*.txt
*.zip
*.ipynb
DATA/*
LOG/*.log
MODEL/*
OBS_archive/*
PLOTS/*.png
SCORES/*.csv
SCR/*.asc
SCR/*.ipynb
SCR/*.pyc
SCR/__pycache__/*
SCR/claef.sh
SCR/claef1k_vs_arome.sh
SCR/deode.py
SCR/diagnostics/*
SCR/hindcast.py
SCR/hindcast.sh
SCR/hyena.py
SCR/nohup.out
SCR/period_analysis.py
SCR/samos.py
SCR/send.py
SCR/static
SCR/custom_experiments.py
SCR/subdomain_scale_factors.p
SCR/test_web/__pycache__/*
SCR/verif_panels.html
SCR/DE_*.py
TMP/*
nohup.out
panelification_web.yml
panelification_web_withbuilds.yml
