PLOTS/*.png
SCORES/*.csv
SCR/__pycache__/*
SCR/nohup.out
SCR/subdomain_scale_factors.p
TMP/*
TMP/*/*
SCR/test_web/__pycache__/*
DATA/*
SCR/*.pyc
SCR/*.asc
SCR/diagnostics/*
SCR/*.ipynb
*.pyc
*.grb
*.bak
*.ipynb
LOG/*.log
OBS_archive/*
*.png
*.nc
*.grib
*.grib2
*.grb2
*.log
*.txt
SCR/claef.sh
SCR/claef1k_vs_arome.sh
SCR/deode.py
SCR/hindcast.py
SCR/hindcast.sh
SCR/hyena.py
SCR/period_analysis.py
SCR/samos.py
SCR/send.py
SCR/verif_panels.html
panelification_web_withbuilds.yml
panelification_web.yml
SCORES/tmp
*.tar
*.gz
*.zip
*.info
